.HomeSection{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.Intro{
    height: 100vh;
    width: 56vw;
    padding-left : 100px;
    padding-top: 100px;
}
.title{
    font-size: 20px;
    font-family: sans-serif;
    padding : 10px;
    font-weight: 540;
}
.name{
    font-family: cursive;
    font-size: 50px;
}
.ProfilePic{
    height: 100vh;
    width: 44vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Profile{
    height: 350px;
    width: 350px;
    border-radius: 180px;
    background-color: white;
    position: relative;
    bottom: 70px;
    right: 30px;
    animation: glow 4s ease-out 0s infinite alternate ;
    /* background-image: url("./../../public/profile.jpg"); */
    background-size: cover;
}
@keyframes glow{
    from{
        box-shadow: 0px 0px 30px white;
    }
    to{
        box-shadow: 0px 0px 60px white;
    }
}