.navbar{
    height: 100px;
    width: 100vw;
}
#navSections{
    height: 100px;
    display: flex;
    padding-left: 56vw ;
    padding-right: 4vw;
    align-items: center;
    justify-content: space-between;
}
.navSection{
    padding : 7px 20px ;
    color : rgb(220, 220, 220);
    border-radius: 18px;
    font-weight: 700;
}
#currPage{
    background-color: rgb(220, 220, 220);
    color : rgb(15,15,15);
    box-shadow: 0px 0px 25px white  ;
}