body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 1rem;
}